/* globals.css */
@import "tailwindcss";
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin '@tailwindcss/typography';

.markdown pre {
  @apply rounded-lg p-4 overflow-auto text-sm;
}

.markdown code {
  @apply font-mono;
}

@theme {
  --color-myblack: #1d1d1d;
  --color-mylightblack: #202020;
  --color-mypurple-100: #a29bfe;
  --color-mypurple-200: #8e82fd;
  --color-mypurple-300: #7a68fc;
  --color-mypurple-400: #654efb;
  --color-mypurple-500: #5134fa;
}

@layer components {
  .markdown {
    @apply prose max-w-none;

    h1, h2, h3, p, a, strong, code, blockquote, ul, ol {
      @apply text-white;
    }

    h1 { @apply text-4xl font-bold; }
    h2 { @apply text-3xl font-semibold; }
    h3 { @apply text-2xl font-medium; }
    p { @apply text-base leading-relaxed; }
    a { @apply text-mypurple-200 hover:text-mypurple-400 underline-offset-4; }
    strong { @apply font-bold; }
    code { @apply px-1 py-0.5 rounded font-medium; }
    blockquote { @apply border-l-4 pl-4 italic text-gray-600 border-mypurple-400; }
    ul { @apply list-disc pl-5; }
    ol { @apply list-decimal pl-5; }
    table { @apply text-white; }
    th { @apply text-white; }
    li {@apply relative flex items-start pl-5 text-white marker:bg-mypurple-100 items-center;}

    li::before {
      content: "●";
      position: absolute;
      left: 0;
      top: 0.6em;
      color: #a29bfe;
      font-size: 0.8rem;
      line-height: 1;
    }
    input[type="checkbox"] {@apply w-4 h-4;}
    li:has(input[type="checkbox"]) {
      @apply list-none flex items-center gap-2;
    }

    img {@apply mx-1 my-0 inline-block align-middle;}
  }
}
